@{
    ViewData["Title"] = "Home Page";
}

<div class="text-left">
    <h1>Clickjacking</h1>
    <ul>
        <li>
            <a asp-action="showList">My movie list</a>
        </li>
    </ul>

    <h2>Docs and Tools</h2>
    <ul>
        <li>
            <a href="https://owasp.org/www-community/attacks/Clickjacking">ClickJacking definition</a>
        </li>
        <li>
            <a href="https://cheatsheetseries.owasp.org/cheatsheets/Clickjacking_Defense_Cheat_Sheet.html">ClickJacking cheatsheet</a>
        </li>
        <li>
            <a href="https://caniuse.com/?search=frame-ancestors">CanIUse 'frame-ancestors'</a>
        </li>
    </ul>
</div>
