@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Demos</title>
</head>
<body>
    <h1>Cookies</h1>
    <ul>
        <li>
            <a href="/cookiesGet">Get Cookies</a>
        </li>
        <li>
            <a href="/cookiesSet">Set Cookies</a>
        </li>
    </ul>

    <h2>Docs and Tools</h2>
    <ul>
        <li>
            <a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Cookies#creating_cookies">Creating Cookies</a>
        </li>
        <li>
            <a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Cookies#security">Security in Cookies</a>
        </li>
        <li>
            <a href="https://andrewlock.net/understanding-samesite-cookies/">Understanding SameSite Cookies by Andrew Lock</a>
        </li>
    </ul>
</body>
</html>
