@{
    ViewData["Title"] = "Home Page";
}

<div class="text-left">
    <h1>CSRF</h1>
    <ul>
        <li>
            <a asp-action="showList">My movie list</a>
        </li>
    </ul>

    <h2>Docs and Tools</h2>
    <ul>
        <li>
            <a href="https://owasp.org/www-community/attacks/csrf">CSRF</a>
        </li>
        <li>
            <a href="https://cheatsheetseries.owasp.org/cheatsheets/Cross-Site_Request_Forgery_Prevention_Cheat_Sheet.html">CSRF cheatsheet</a>
        </li>
    </ul>
</div>
