@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Demos</title>
</head>
<body>
    <h1>Example</h1>
    <ul>
        <li>
            <a href="/csp">CSP Example</a>
        </li>
    </ul>

    <h2>Docs and Tools</h2>
    <ul>
        <li>
            <a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP">CSP in Mozilla MDN</a>
        </li>
        <li>
            <a href="https://www.srihash.org/">Subresource Integrity (SRI) tool</a>
        </li>
        <li>
            <a href="https://csp-evaluator.withgoogle.com/">Check your CSP headers by Google</a>
        </li>
    </ul>
</body>
</html>
